*
{
    margin:                     0;
    padding:                    0;
    font-size:                  10px;
}



body
{
    height:                     100vh;
    width:                      100vw;
}



section
{
    display:                    grid;
    grid-template-columns:      repeat(3, 1fr);
    grid-template-rows:         repeat(2, 1fr);
    grid-template-areas:        "BX1";
    
    
    
    height:                     100%;
    width:                      100%;
}



.BOX
{
    display:                    flex;
    justify-content:            center;
    align-items:                center;
    
    border:                     2px solid black;
    
}



#BX1
{
    grid-area:                      BX1;
    background-color:               cornflowerblue;
}



#BX2
{
    grid-area:                      BX2;
    background-color:               lightyellow;
}



#BX3
{
    grid-area:                      BX3;
    background-color:               aqua;
}



#BX4
{
    grid-area:                      BX4;
    background-color:               springgreen;
}



#BX5
{
    grid-area:                      BX5;                
    background-color:               mediumpurple;
}



#BX6
{
    grid-area:                      BX6;
    background-color:               goldenrod;
}